<!-- templates/home.html -->
<!-- {% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %} -->

<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset="UTF-8">
  <title>Sign Up <3</title>
  <style>
    body {
       text-align: center;
       font-family:Arial, Helvetica, sans-serif
    }
  
    .highlighted-username {
        font-weight: bold;
        background-color: yellow;
        padding: 0 5px;
        border-radius: 3px;
    }
  </style>
</head>

<body>

  <div class="bio">
    <p>{{ bio }}</p>
  </div>

  <div>
  {% if user.is_authenticated %}
  <p>Hi, <span class="highlighted-username">{{ user.username }}</span>!</p>
  

  {% else %}
    <p>Not logged in</p>
    <!-- <a href="{% url 'login' %}">Log In</a> -->
  {% endif %}
  </div>
  
  <div>
    <p>Current Time: {{current_time}}</p>
  </div>

<!-- {% endblock %} -->
</body>

</html>

