<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
  .centered-container {
      display: flex;
      flex-direction: column;
      align-items: center; /* Horizontal centering */
      justify-content: center; /* Vertical centering */
      min-height: 100vh; /* Full viewport height */
      text-align: center; /* Center text */
  }

  .highlighted-username {
      font-weight: bold;
      background-color: yellow;
      padding: 0 5px;
      border-radius: 3px;
  }
</style>

<div class="centered-container">
  
  <div class="bio">
    <p>{{ bio }}</p>
  </div>


  <div>
    {% if user.is_authenticated %}
      <p>Hi, <span class="highlighted-username">{{ user.username }}</span>!</p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
  </div>

  
  <div>
    <p>Current Time: {{ current_time }}</p>
  </div>
</div>
{% endblock %}
