<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>
<body>
    <form action="/app/createUser" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="user_name" required><br><br>

        <label for="email">University Email Address:</label>
        <input type="email" name="email" required><br><br>

        <label for="role">Role:</label>
        <input type="radio" name="is_student" value="1" required> Student
        <input type="radio" name="is_student" value="0" required> Instructor<br><br>

        <label for="password">Password:</label>
        <input type="password" name="password"><br><br>

        <button type="submit">Sign Up!</button>
    </form>
</body>
</html>

